---
// Renders a single AppSec integration as a linked image card.
import { Image } from 'astro:assets';
const { link, name, src, avatar } = Astro.props;
---

<div class="flex justify-center items-center m-0 py-4 px-10 border border-gray-300 rounded-sm hover:shadow-[0_0_4px_1px_rgba(0,0,0,0.4)] hover:scale-105 transition-all duration-250">
  <a href={link} aria-label={`${name} datadog integration docs link`} class="no-underline text-black">
    <div class="card-body text-center p-2">
      {
        src ?
        <img class="mx-auto my-auto" src={src} alt={name} width="400" loading="lazy">
          :
        <Image 
        class="mx-auto my-auto" 
        src={`https://static.datadoghq.com/static/images/logos/${avatar}_avatar.svg`} 
        alt={`${name} logo`} 
        width={80}
        height={80} 
        layout='constrained'
        />
      }
      <span class="title mt-1 font-semibold">{name}</span>
    </div>
  </a>
</div>
