---
import ddBitsLearnLogo from '../assets/images/learning-center-bits-logo-2.png';

const {url, type, header, cta, hide_img, d_toggle, d_target, custom_class } = Astro.props;

const calloutVariants:{[key:string]: string} = {
    default: "Request Access", 
    learn: "Sign up"
};


const cta_text = cta  || calloutVariants[type];

const calloutStyleVariants:{[key:string]: string} = {
    learn: "bg-ddpurple-light border-ddpurple rounded-xl",
    default: "bg-white border-gray-200 rounded-sm"
}
const anchorStyleVariants:{[key:string]: string} = {
    learn: "bg-ddpurple !text-white px-3 py-[10px] uppercase min-w-[138px]",
    default: "bg-white !text-ddpurple px-3 py-[10px] hover:bg-ddpurple hover:!text-white"
}
---

<!--
Renders a callout box with a header, content body, and a CTA button
for specs, see docs-astro/markdoc.config.mjs config file

for more details, see:
- docs-astro/markdoc.config.mjs for Component props schema.
- docs-astro/src/content/config.ts for frontmatter schema
-->

<div class=`${calloutStyleVariants[type]} flex flex-col p-4 border shadow-xs`>
    <div class="flex flex-col md:flex-row gap-x-5 ">
        { (type === "learn" && !hide_img) &&
            <img class="mb-2 md:mb-0 min-w-[166px] min-h-[94px] object-cover" src={ddBitsLearnLogo.src} alt="learning center"/>
        }
        <div class="flex flex-col">
            <h5 class="text-black font-semibold mt-0 mb-1">{header || "Join the Preview"}</h5>
            <slot />
        </div>
    </div>
    { url &&
        <a href={url}
        target="_blank"
        class={`flex justify-center self-end rounded-[5px] font-semibold border border-ddpurple no-underline mt-4 ${anchorStyleVariants[type]} ${custom_class}`}
        data-bs-toggle={d_toggle}
        data-bs-target={d_target}
        >
            {cta_text}
        </a>
    }
</div>